@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&family=Open+Sans:wght@300;400;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-sans text-dark bg-white;
  }
  h1, h2, h3, h4, h5, h6 {
    @apply font-display font-bold;
  }
}

.blob-shape {
  border-radius: 355px 45px 225px 75px / 15px 225px 15px 255px;
}
